<%- include('partials/header.ejs') %>
<main>
  <h2>Reservas</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Sala</th>
        <th>Usuário</th>
        <th>Início</th>
        <th>Fim</th>
      </tr>
    </thead>
    <tbody>
      <% bookings.forEach(booking => { %>
        <tr>
          <td><%= booking.id %></td>
          <td><%= booking.room_number %></td>
          <td><%= booking.user_name %></td>
          <td><%= booking.start_time %></td>
          <td><%= booking.end_time %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<%- include('partials/footer.ejs') %>